* {
    font-family: 'Karla', sans-serif;
    /* DEBUGGING */
    /* border-color: red;
    border-style: solid; */
}

div.wrapper {
    margin: 5% 25% 5%;
}

div.center {
    text-align: center;
    margin: 0;
}

ul.navbar {
    margin: 5% 25% 0;
    list-style-type: none;
    padding: 0;
}

ul.navbar li {
    display: inline;
}

li.blog-list {
    list-style-type: none;
}

li.blog-list ul {
    list-style-type: none;
    margin: 5% 0;
}

li.blog-list a {
    font-size: 24pt;
    font-weight: 300;
}

li.blog-list p {
    margin: 2% 0;
}

h1 {
    color: #729B79;
    font-size: 50pt;
    font-weight: 700;
}

h2 {
    font-size: 25pt;
}

p, a {
    color: #1E212B;
    font-size: 18pt;
    font-weight: 100;
}

a:hover {
    background-color: #FFC800;
}

a:visited {
    color: #1E212B;
}

.blog h2 {
    font-size: 30pt;
    font-weight: 500;
    text-align: left;
}

.blog h3 {
    font-size: 24pt;
    font-weight: 400;
    text-align: left;
}

.blog p {
    font-size: 16pt;
    text-align: left;
}

div .blog img {
    text-align: center;
    display: flex;
    max-width: 50%;
    margin: 5% auto;
}

code {
    font-family: monospace, monospace;
    font-size: 14px;
    line-height: 150%;
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    background: #282828;
    color: #ebdbb2;
    display: block;
}

code::selection {
    background: #d3869b;
}
